{% extends 'base.html.twig' %}

{% block title %}Créer un commentaires{% endblock %}

{% block body %}
    <h1>Créer un commentaires</h1>

    {{ include('commentaires/_form.html.twig', {'button_label': 'Mise à jour'}) }}

    <a href="{{ path('app_commentaires_index') }}">Retour à la liste</a>

    {{ include('commentaires/_delete_form.html.twig') }}
{% endblock %}
