{% extends 'base.html.twig' %}

{% block title %}Nouveau commentaires{% endblock %}

{% block body %}
    <h1>Créer un nouveau commentaire</h1>

    {{ include('commentaires/_form.html.twig') }}

    <a href="{{ path('app_commentaires_index') }}">back to list</a>
{% endblock %}
