{% extends 'base.html.twig' %}

{% block title %}Créer Conjoints{% endblock %}

{% block body %}
    <h1>Créer conjoints</h1>

    {{ include('conjoints/_form.html.twig', {'button_label': 'Mise à jour'}) }}

    <a href="{{ path('app_conjoints_index') }}">Retour à la liste</a>

    {{ include('conjoints/_delete_form.html.twig') }}
{% endblock %}
