{% extends 'base.html.twig' %}

{% block title %}Nouveaux Conjoints{% endblock %}

{% block body %}
    <h1>Créer un nouveaux conjoint</h1>

    {{ include('conjoints/_form.html.twig') }}

    <a href="{{ path('app_conjoints_index') }}">Retour à liste</a>
{% endblock %}
